@use 'reset';
@use './themes/themes';

:root {
    --button-font: 16px;
    --button-height: 48px;
    --button-width: 240px;
    --button-color-text: #fff;
    --button-border-radius: 4px;
    --button-border-color: #fff;

    --main-border-radius: 8px;
    --main-color-mix: color-mix(in oklab, var(--background) 95%, black)

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text);
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

.svg-icon {
    stroke: var(--text);
}

:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px var(--text);
}